In [9]:
import pandas as pd
import numpy as np

#create a data set of people

data ={'Name':["jasim","karim","mita"],'location' : ["rajshahi","dhaka","barisal"],'Age':[24,13,33]
      }
frame = pd.DataFrame(data)

display(frame)

x= np.array([1,2,3])
x
print(x)

    Name  location  Age
0  jasim  rajshahi   24
1  karim     dhaka   13
2   mita   barisal   33

[1 2 3]